// contains bookmarked items
.bookmarks-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 10%;
}

@media (max-width: 420px) {
  .bookmarks-container {
    display: flex;
    margin-top: 30%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  .bookmarks-container {
    display: flex;
    margin-top: 15%;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
