.homePage-container {
  display: flex;
  width: 100%;
  background: #1e1e1e;
  height: 97vh;
  padding: 2%;

  &__navbar {
    display: flex;
  }

  &__main {
    display: flex;
    margin: 0;
    width: 100%;
    flex-direction: column;

    &__search {
      display: flex;
      margin: 0;
      height: 12%;
      width: 100%;
    }

    &__body {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
