// main wrapper
.homePage-container {
  display: flex;
  width: 100%;
  background: #1e1e1e;
  padding: 2%;
  padding-top: 0;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;

  &__navbar {
    display: flex;
  }

  // content wrapper
  &__main {
    display: flex;
    margin: 0;
    width: 100%;
    flex-direction: column;
    padding: 2%;

    &__popular {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    flex-wrap: wrap;
    
    }

    &__search {
      display: flex;
      margin: 0;
      height: 12%;
      width: 100%;
    }

    &__body {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 420px) {
  .homePage-container {
    display: flex;
    flex-direction: column-reverse;

    &__navbar {
      display: flex;
    }

    &__main {
      display: flex;
      margin: 0;
      width: 100%;
      flex-direction: column;

      &__search {
        display: flex;
        margin: 0;
        height: 12%;
        width: 100%;
      }

      &__body {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  .homePage-container {
    display: flex;
    flex-direction: column-reverse;

    &__navbar {
      display: flex;
    }

    &__main {
      display: flex;
      margin: 0;
      width: 100%;
      flex-direction: column;

      &__search {
        display: flex;
        margin: 0;
        height: 12%;
        width: 100%;
      }

      &__body {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}
