// main wrapper
.homePage-container {
  display: flex;
  width: 100%;
background: #10141e;
  padding: 2%;
  padding-top: 0;
  color: white;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;

  // content wrapper
  &__main {
    display: flex;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    padding: 2%;
    margin-left: 8%;

    h4 {
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 60px;
      
    }
    &__header{
      padding-top: 8%;
    }


    // movie tray container
    &__popular {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 420px) {
  .homePage-container {
    display: flex;
    flex-direction: column-reverse;

    // content wrapper
    &__main {
      display: flex;
      margin: 0;
      width: 100%;
      flex-direction: column;
    }
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  .homePage-container {
    display: flex;
    flex-direction: column-reverse;

    // content wrapper
    &__main {
      display: flex;
      margin: 0;
      width: 100%;
      flex-direction: column;
    }
  }
}
