.moviesGenre {
  display: flex;
}
.moviesGenre-container {
  display: flex;
  margin: 0;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 2% 5%;
  padding-top: 8%;
  gap: 2%;
  /* links for each genre */

  &__link1,
  &__link2 {
    display: flex;
    width: 23%;
    background: #0e7490;
    // flex-direction: column;
    font-size: 24px;
    padding: 8% 9%;
    margin-top: 2%;
    color: #ffffff;
    border-radius: 16px;
    line-height: 24px;
    flex-direction: row;
    justify-content: space-around;
    text-decoration:none;
    height: 16%;
    align-items: center;
  }
  &__link2 {
    background: #171e31;
  }
}

@media (max-width: 420px) {
  .moviesGenre-container {
    display: flex;
    margin-top: 10%;
    gap: 4%;
    /* links for each genre */

    &__link1,
    &__link2 {
      border-radius: 16px;
      justify-content: center;
      width: 48%;
      font-size: 16px;
      line-height: 16px;
      padding: 15%;
      margin: 0;
      margin-top: 4%;
      height: 0;

    }
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  .moviesGenre-container {
    display: flex;
    margin-top: 5%;
    /* links for each genre */

    &__link1,
    &__link2 {
      width: 48%;
      border-radius: 16px;
      justify-content: center;
      padding: 12% 8%;
      font-size: 22px;
    }
  }
}
