// poppins font for all the components
body {
  margin: 0;
  font-family: 'poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'poppins', sans-serif;
}

// main container
.button-container {
  display: flex;
  justify-content: center;
  // padding-top: 10%;
  // height: 10%;
  width: 80%;
  margin: 0;

  // button container
  &__button {
    display: flex;
    color: white;
    background: #bb261a;
    border-radius: 8px;
    padding: 2% 10%;
    border: none;
    align-items: center;
  }
}

// media query for mobile view

@media (max-width: 41.25rem) {
  .button-container {
    display: flex;
    height: 30%;
    padding: 0;

    &__button {
      display: flex;
      height: 50%;
      padding: 0;
      font-size: 0.875rem;
    }
  }
}
