@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'poppins', sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  // height: 10%;
  margin: 0;

  &__button {
    display: flex;
    color: white;
    background: #bb261a;
    border-radius: 8px;
    padding: 2% 10%;
    border: none;
    align-items: center;

  }
}

@media (max-width: 420px){
  .button-container{
    display: flex;
    height: 10%;
    padding: 0;

    &__button{
      padding: 0;
    }
  }
}