// contaier for movie details
.movieDetails-container {
  display: flex;
  gap: 5%;
  padding: 2%;
  margin-top: 5%;

  // movie poster
  &__image {
    width: 35%;
    height: 95%;
  }

  // movie details
  &__details {
    display: flex;
    width: 70%;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 6%;

    h5 {
      font-weight: 500;
      font-size: 48px;
      line-height: 72px;
      margin: 0;
    }
    p {
      font-size: 18px;
      line-height: normal;
      margin: 0;
    }
  }
}
