.moviesByGenre-container, .seriesByGenre-container{
  display: flex;
  // margin-left: 10%;

  &__section {
    display: flex;
    flex-wrap: wrap;
  
  }
}

@media (max-width: 41.25rem) {
  .moviesByGenre-container, .seriesByGenre-container {
    margin: 0;
    &__section {
      // margin-top: 20%;
    }

    &__card {
      margin-left: 2%;
    }
  }
}
