// contaier for movie details
.personDetails-container {
  display: flex;
  gap: 5%;
  padding: 2%;
  margin: 0;

  // movie poster
  &__poster {
    width: 35%;
    height: 35rem;
    border-radius: 10px;
    margin: 0;
  }

  // movie details
  &__details {
    display: flex;
    width: 70%;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    gap: 1rem;
    // height: 80%;
    .less-opaque {
      opacity: 0.8;
   
    }
    .less-opaque-1 {
      opacity: 0.8;
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 1.25rem;
    }
    .less-opaque-2 {
      opacity: 0.8;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      font-size: 1.25rem;
    }

    &__para {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }
    .span1 {
      border: none;
      background-color: transparent;
      color: white;
      opacity: 1;
      font-size: 1rem;
      width: 100%;
      margin: 0;
      display: flex;
      justify-content: flex-start;
    }
    h2 {
      font-weight: 500;
      font-size: 48px;
      line-height: 72px;
    }
    h5 {
      font-weight: 200;
      font-size: 3rem;
      line-height: 72px;
      margin: 0;
    }
    p {
      font-size: 1.25rem;
      line-height: normal;
      margin: 0;
      font-weight: 200;
    }

    &__biography {
      display: flex;
      flex-direction: column;
      h6 {
        font-family: 100;
        margin: 0;
      }
    }
    &__knownFor {
      display: flex;
      flex-direction: column;
      width: 100%;

      &__section {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
      }
    }
    .movieSpan {
      padding: 1% 1%;
      text-align: center;
      margin-bottom: 2%;
      text-decoration: none;
      color: white;
      font-size: 1rem;
      border: solid white 2px;
      border-radius: 10px;
      margin-right: 2%;

      line-height: 2rem;
    }
  }
}

@media (max-width: 41.25rem) {
  .personDetails-container {
    display: flex;

    margin-top: 5%;
    padding: 2%;
    flex-direction: column;

    &__poster {
      width: 300px;
      height: 40%;
      margin: auto;
    }

    &__details {
      width: 100%;
      gap: 0;
      h2 {
        font-size: 30px;
        line-height: 50px;
      }
      h6 {
        font-weight: 100;
        font-size: 1.25rem;
      }
      p,
      span {
        font-size: 0.75rem;
        line-height: 30px;
      }
      span,
      .span1 {
        padding: 2% 4%;
        font-size: 0.75rem;
        width: 100%;
        line-height: 20px;
        display: flex;
        height: 80%;
        align-items: flex-start;
      }
      .less-opaque {
        display: flex;
        flex-direction: column;
      }
      .movieSpan {
        font-size: 0.7rem;
        line-height: 1rem;
        padding: 2%;
      }
    }
  }
}

@media (min-width: 41.25rem) and (max-width: 768px) {
  .personDetails-container {
    // margin-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__poster {
      width: 55%;
    }

    &__details {
      width: 100%;
      h2 {
        font-size: 30px;
      }
      p,
      span {
        font-size: 0.75rem;
        line-height: 30px;
      }
      span {
        padding: 2% 4%;
      }
    }
  }
}
