// main container
.searchbar-container {
  position: fixed;
  z-index: 1;
  display: flex;
  margin: 0;
  padding: 0% 2%;
  height: 10%;
  width: 80%;

  // input field component
  &__input {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    background: #10141e;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    border-radius: 10px;
  }

  // search icon
  &__object {
    margin: 0;
    width: 10%;
    height: 32%;
    margin-top: 2%;
  }

  &__searchResult{
    display: flex;
    width: 100%;
  }

  // button component container
  &__button-container {
    display: flex;
    margin: 0;
    /* margin-right: 20%; */
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  // button component
  &__button {
    background: #5a6a90;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    height: 60%;
    margin: 0;
    // padding: 30% 50%;
    padding: 1% 5%;
  }
  &__searchResult-container{
    display: flex;
    width: 100%;
  }
}

@media (max-width: 420px) {
  .seriesGenre-container {
    display: flex;
    margin-top: 10%;
    /* links for each genre */

    &__link1,
    &__link2 {
      width: 50%;
      border-radius: 16px;
      justify-content: center;
    }
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  .seriesGenre-container {
    display: flex;
    margin-top: 5%;
    /* links for each genre */

    &__link1,
    &__link2 {
      width: 50%;
      border-radius: 16px;
      justify-content: center;
      padding: 12% 8%;
      font-size: 22px;
    }
  }
}