.searchbar-container {
  display: flex;

  &__input {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    // color: rgba(255, 255, 255, 0.5);
    // background: #1E1E1E;
  }
  &__object {
    width: 30%;
  }

  &__button-container {
    display: flex;
    margin: 0;
  }

  &__button {
    background: #5a6a90;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    padding: 10%;
    height: 30%;
    margin: 0;
  }
}
