// main container
.searchbar-container {
  // position: fixed;
  z-index: 1;
  display: flex;
  margin-top: 2%;
  padding-right: 2%;
  height: 10%;
  width: 100%;
  align-items: flex-start;

  // input field component
  &__input {
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 3rem;
    background: #10141e;
    border: none;
    color: rgba(255, 255, 255, 0.5);
    width: 100%;
    border-radius: 0.625rem;
  }

  // search icon
  &__object {
    margin: 0;
    width: 10%;
    height: 32%;
    margin-top: 15px;
    margin-right: 1%;
  }

  &__searchResult {
    display: flex;
    width: 100%;
  }

  // button component container
  &__button-container {
    display: flex;
    margin: 0;
    /* margin-right: 20%; */
    align-items: center;
    margin-top: 8px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }

  // button component
  &__button {
    display: flex;
    align-items: center;
    background: #5a6a90;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 21px;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
    height: 60%;
    margin: 0;
    // padding: 30% 50%;
    padding: 3% 3%;
  }
  &__searchResult-container {
    display: flex;
    width: 100%;
  }
}

@media (max-width: 41.25rem) {
  .searchbar-container {
    align-items: flex-end;
    margin-top: 0%;
    gap: 3%;
    width: 100%;
    display: flex;
    height: 70px;

    &__button-container {
      height: 50%;
    }
    &__button {
      height: 100%;
    }

    &__input {
      height: 90%;
      font-size: 1rem;
    }
    &__object {
      margin: 0;
      margin-bottom: 3%;
    }
  }
}

@media (min-width: 41.25rem) and (max-width: 768px) {
  .searchbar-container {
    height: 60px;

    &__input {
      font-size: 1.5rem;
      height: 100%;
    }
    &__object {
      margin: 0;
      width: 10%;
      height: 70%;
      margin-top: 1%;
      margin-right: 5%;
    }
  }
}
