.input-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 20%;
  padding-bottom: 5%;
  margin: 0;
  width: 100%;

  // padding-top: 40px;
  &__label {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-bottom: 10px;
    margin: 0;
    text-align: left;
  }

  &__form {
    display: flex;
    width: 100%;
    margin: 0;
    width: 100%;
  }

  &__input {
    display: flex;
    width: 100%;
    background: #181728;
    border-radius: 8px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.4);
    padding: 10px 16px;
    border: none;
  }
}

@media (max-width: 420px) {
  .input-container {
    display: flex;
    height: 50%;
    width: 80%;
    justify-content: flex-start;
    padding-bottom: 0;

    &__label {
      padding: 0;
      font-size: 12px;
    }
    &__form {
      display: flex;
      // padding-top: 5%;
      height: 100%;
    }
    &__input {
      display: flex;
    }

    &__button {
      font-size: 12px;
    }
  }
}
