.carousel {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  &__link {
    display: flex;
  }

  &__poster {
    width: 30%;
  }
}
