// main container
.register-container {
  display: flex;
  padding: 4% 30% 3%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(127, 0, 0, 0.45)),
    url('../assets/Netflix-Background.jpg');

  flex-direction: column;
  align-items: center;
  height: 100vh;
  align-items: center;
  gap: 5%;

  // h1 that displays 'OTT Platform'

  &__section {
    width: 60%;
    height: 10%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__header {
    position: relative;
    background-color: #000000;
    filter: blur(25px);
    width: 100%;
    height: 100%;
    margin: 0;

    z-index: 1;
  }
  h1 {
    color: #bb261a;
    margin: 0;
    z-index: 2;
    font-size: 2em;
    position: absolute;
  }

  // container for input and button components
  &__register {
    position: relative;
    width: 100%;
    background: #1d253a;
    border-radius: 0.75rem;
    padding: 5% 10% 12%;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 500px;
    p {
      font-size: 0.75rem;
      color: red;
      font-weight: 200;
    }

    &__header {
      font-style: normal;
      font-weight: 600;
      font-size: 1.5rem;
      line-height: 2.25rem;
      color: #ffffff;
      text-align: center;
      height: 10%;
      margin-bottom: 5%;
    }
    // input field component
    &__input {
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 21px;
      color: rgba(255, 255, 255, 0.4);
      background: #181728;
      border-radius: 8px;
      border: none;
      width: 100%;
      padding: 2% 3%;
    }

    // button component
    &__button {
      padding: 2% 12%;
      margin-top: 5%;
      background: #bb261a;
      border-radius: 8px;

      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
      color: #ffffff;
      border: none;
    }
    &__button:disabled {
      background-color: #afb2b9;
      color: black;
    }
  }
}

@media (max-width: 420px) {
  .register-container {
    display: flex;
    padding: 25% 7% 10%;
    height: 1000px;
    gap: 4%;

    &__section{
      height: 6%;
      width: 70%;
    }
    &__header {
      margin: 0;
      font-size: 1rem;
    }
      h1 {
        font-size: 1.5rem;
      }
    
    &__register {
      padding: 10% 0%;
      // height: 70%;
      height: 500px;
      margin: 0;

      p {
        font-size: 0.625rem;
      }
      &__header {
        font-size: 1rem;
      }
      &__input {
        margin-top: 2%;
        margin-bottom: 5%;
        padding: 2% 4%;
        font-size: 0.75rem;
      }

      &__button {
        font-size: 0.8rem;
        padding: 3% 15%;
        border-radius: 6px;
      }
    }
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  .register-container {
    display: flex;
    padding: 15% 10%;
    min-height: 1000px;
   

    &__register {
      position: relative;
      width: 100%;
      background: #1d253a;
      border-radius: 0.75rem;
      padding: 10%;
      min-height: 500px;
      align-items: center;
      display: flex;
      flex-direction: column;

      &__input{
        height: 50px;
       
      }

      &__header {    
        margin: 0;
      }

      &__button{
        padding: 4% 15%;
        margin-top: 3%;
      }
    }
  }
}
