// main container
.register-container {
  display: flex;
  padding: 4% 32% 3%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(127, 0, 0, 0.45)),
    url('../assets/Netflix-Background.jpg');

  flex-direction: column;
  align-items: center;
  height: 100vh;
  align-items: center;

  // h1 that displays 'OTT Platform'
  &__header {
    height: 10%;
    h1 {
      font-size: 36px;
      line-height: 54px;
      text-align: center;
      color: #bb261a;
      background: #000000;
      // filter: blur(25px);
    }
  }

  // container for input and button components
  &__register {
    position: relative;
    width: 100%;
    background: #1d253a;
    border-radius: 12px;
    padding: 5% 10% 7%;
    align-items: center;
    display: flex;
    flex-direction: column;
    p{
      font-size: 16px;
      color: red;
      font-weight: 200;
    }

    &__header {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      color: #ffffff;
      text-align: center;
      height: 10%;
      
    }
    // input field component
    &__input {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: rgba(255, 255, 255, 0.4);
      background: #181728;
      border-radius: 8px;
      border: none;
      width: 100%;
      padding: 2% 3%;
    }

    // button component
    &__button {
      padding: 2% 13%;
      margin-top: 5%;
      background: #bb261a;
      border-radius: 8px;

      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #ffffff;
      border: none;
    }
  }
}

@media (max-width: 420px) {
  .register-container {
    display: flex;
    padding: 25% 5% 10%;
    height: 1000px;

    &__header {
      margin: 0;
      font-size: 16px;
      h1 {
        font-size: 24px;
      }
    }
    &__register {
      padding: 5% 0% 7%;
      // height: 70%;
      height: 500px;
      margin: 0;

      p{
        font-size: 12px;
      }
      &__header {
        font-size: 16px;
      }
      &__input {
        margin-top: 5%;
            margin-bottom: 5%;
      }

      &__button {
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  .register-container {
    display: flex;
    padding: 15% 10%;

    &__register {
      position: relative;
      width: 100%;
      background: #1d253a;
      border-radius: 12px;
      padding: 5% 10% 7%;
      height: 700px;
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}
