html {
  height: 100%;
}
body {
  min-height: 100%;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: auto 0;
}

// component wrapper
.login-container {
  display: flex;
  padding: 6% 22% 4%;
  width: 100%;
  justify-content: space-evenly;
  height: 100vh;

  flex-direction: column;
  align-items: center;
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(127, 0, 0, 0.45)),
    url('../../assets/Netflix-Background.jpg');

  &__section {
    width: 30%;
    height: 10%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // component header
  &__header {
    position: relative;
    background-color: #000000;
    filter: blur(25px);
    width: 100%;
    height: 100%;
    margin: 0;

    z-index: 1;
  }
  h1 {
    color: #bb261a;
    margin: 0;
    z-index: 2;
    font-size: 2em;
    position: absolute;
  }

  // signIn and signUp container
  &__main {
    display: flex;
    width: 100%;
    margin: 0;
  }

  // signIn container
  &__signIn {
    display: flex;
    background: #000000;
    border-radius: 0.75rem;
    padding: 6% 5% 7%;
    margin: 0;
    align-items: center;
    // padding: 61px 50px 68px;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    gap: 8%;

    &__error {
      margin: 0;
      color: red;
      font-size: 1rem;
    }

    &__header {
      font-size: 1.5rem;
      line-height: 2.25rem;
      color: #ffffff;
      text-align: center;
      height: 10%;
      margin: 0;
    }

    span {
      color: red;
    }

    // signIn input field
    &__input {
      padding: 2% 10%;

      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 21px;
      color: rgba(255, 255, 255, 0.4);
      background: #333333;
      border-radius: 8px;
      width: 100%;
      border: none;
    }

    // signIn button
    &__button {
      background: #bb261a;
      border-radius: 8px;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
      color: #ffffff;
      padding: 3% 18%;
      border: none;
      margin-top: 16%;
    }
  }

  // signUp container
  &__signUp {
    display: flex;
    background: #1d253a;
    border-radius: 0.75rem;
    // padding: 9% 9% 9% 9%;
    padding: 4% 5% 7%;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url('../../assets/play.png');
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    justify-content: space-between;
    margin: 0;
    background-size: 30%;

    &__text {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      // padding-bottom: 10%;
    }

    p {
      padding-top: 80%;
      color: #ffffff;
      padding-bottom: 10%;
      text-align: center;
    }

    span {
      color: aqua;
    }

    h2 {
      color: red;
      height: 85%;
      text-align: center;
    }

    // signUp button
    &__button {
      background: #afb2b9;
      border-radius: 8px;

      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
      color: #1d253a;
      padding: 3% 18%;
      border: none;
    }
  }
}

// media query for mobile view
@media (max-width: 41.25rem) {
  // wrapper
  .login-container {
    display: flex;
    padding: 5% 10%;
    height: 1000px;
    justify-content: flex-start;

    // component header
    h1 {
      font-size: 22px;
      margin: 0;
    }

    // signIn & signUp wrapper
    &__main {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 5%;
      // height: 100%;
      margin: 0;
    }

    p {
      padding-top: 30%;
    }

    // signIn container
    &__signIn {
      display: flex;
      // height: 100%;
      height: 350px;
      padding-bottom: 15%;

      &__input {
        font-size: 0.75rem;
      }

      &__button {
        font-size: 0.75rem;
        margin: 0;
      }

      &__header {
        font-size: 1rem;
        height: 20%;
        padding-bottom: 5%;
        font-weight: 200;
      }
      &__error {
        font-size: 0.75rem;
        color: red;
        font-weight: 200;
      }
    }

    // signUp container
    &__signUp {
      display: flex;
      background-size: 25%;
      padding: 10%;
      // height: 80%;

      h2 {
        font-size: 1rem;
        height: 80%;
        font-weight: 200;
      }

      p {
        font-weight: 200;
        font-size: 0.75rem;
        padding-top: 45%;
      }
      &__button {
        font-size: 0.75rem;
      }
    }
  }
}

@media (min-width: 41.25rem) and (max-width: 768px) {
  // wrapper
  .login-container {
    display: flex;
    padding: 5% 15%;
    justify-content: space-evenly;
    height: 100%;
    h1 {
      height: 5%;
    }
    // signIn signUp container
    &__main {
      display: flex;
      width: 100%;
      flex-direction: column;

      gap: 7%;
    }

    // signIn container
    &__signIn {
      display: flex;
      padding: 10% 8%;
      height: 500px;
      width: 90%;
      margin: auto;
    }

    // signUp container
    &__signUp {
      display: flex;
      background-size: 25%;
      padding: 6%;
      height: 500px;
      width: 90%;
      margin: auto;

      h2 {
        font-size: 1.25rem;
        height: 85%;
        margin: 0;
      }

      p {
        font-size: 1rem;
        padding-top: 60%;
      }
    }
  }
}
