body {
  padding: 0;
}
* {
  box-sizing: border-box;
}
.App-container {
  display: flex;
  text-align: center;
  font-weight: 700;
  text-align: left;
  background: #10141e;
  /* height: 100vh; */
}
.App-container__navbar {
  display: flex;
}
.App-container__body {
  display: flex;
  width: 100%;
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-container .carousel .slide {
  min-width: 25.1%;
  padding-right: 2%;
}
.App-container .carousel .control-dots {
  display: none;
}
.App-container .carousel.carousel-slider .control-arrow {
  height: 10%;
  margin-top: 8%;
  margin-right: 1%;
   margin-left: 2%;
  padding: 5px 7px;
  border-radius: 20px;
  top: 0;
  color: #fff;
  font-size: 26px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: white;
}

.App-link {
  color: var(--error);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  font-size: 1.5rem;
}

@media (max-width: 420px) {
  .App-container .carousel-root {
    height: 30vh;
  }
  .App-container .carousel .slide {
    min-width: 50.1%;
    margin: 0;
    position: relative;
    text-align: center;
  }

  .App-container .carousel.carousel-slider .control-arrow {
    margin-top: 16%;
    margin-right: 1%;
  }
}

@media (min-width: 420px) and (max-width: 768px) {
  .App-container .carousel-root {
    height: 350px;
  }
  .App-container .carousel.carousel-slider {
    height: 100%;
  }
  .App-container .carousel .slider-wrapper {
    height: 100%;
  }
  .App-container .carousel .slider {
    height: 100%;
  }
  .App-container .carousel .slide {
    min-width: 48.1%;
    margin-left: 2%;
  }

  .App-container .carousel.carousel-slider .control-arrow {
    margin-top: 14%;
    margin-right: 2%;
    margin-left: 3%;
  }
}
